<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<meta name="Description" content="相続や遺言の手続きなら「相続・遺言手続トータルサポート大阪・吹田」へ！" />
<meta name="Keywords" content="相続,遺言,手続,大阪,吹田,遺書,遺産" />
<title>無料相談会受付フォーム｜相続・遺言手続トータルサポート大阪</title>
<link type="text/css" rel="stylesheet" href="../common/css/default.css" />
<link href="../common/css/page.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../common/js/alphafilter.js" defer="defer"></script>
<script type="text/javascript" src="../common/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="../common/js/droppy.js"></script>
<script type="text/javascript" src="../common/js/smartRollover.js"></script>
<script type="text/javascript">
    $(function() {  
      $("#nav").droppy();  
    });
</script>
<script type="text/javascript" src="../common/js/common_sp.js"></script><!-- 郵便番号自動取得設定 -->
<script language="javascript" type="text/javascript" src="common/js/ajaxzip3.js"></script>


<script type="text/javascript">
function back()
{
	var frm = document.frm;
	frm.b.value = '1';
	frm.action = '???BACK???';

	document.getElementById("back_btn").onclick = "";
	frm.submit();
}
function go_send()
{
	document.getElementById("send_btn").onclick = "";
	document.frm.submit();
}
</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30759132-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
<!--
function disp(url){
	window.open(url, "popup", "width=690,height=700,scrollbars=yes");
}

// -->
</script>
</head>
<body class="info" id="consul">
<!-- #wrapper -->
<div id="wrapper">
	<p class="ptop_box"><a name="ptop" id="ptop"></a></p>
	<div class="description-wrap">
<h1 class="description">無料相談会受付フォーム｜相続・遺言手続トータルサポート大阪</h1>
	</div>
	
	<!-- #inquiry-header -->
	<div id="inquiry-header">
			<div class="hgroup">
<p class="logo"><a href="../"><img src="../common/img/logo.png" width="585" height="62" alt="相続・遺言手続トータルサポート大阪" /></a></p>
</div>
	</div>
	<!-- /#inquiry-header -->
	<!-- #cont -->
	<div id="cont" class="clearfix"> 
		
		<!-- main -->
		<div id="main">
			<div class="section">
				<h2>無料相談会受付フォーム</h2>
				<div class="section_cont bg-tel">
          <p class="flow"><img src="../info/img/img_contact_flow02.png" width="950" height="40" alt="内容確認" /></p>
          <p>下記の内容で送信致します。問題なければ「送信」ボタンを、変更したい場合は「修正」ボタンを押してください。<br />
		  <span class="red">※まだ送信は完了しておりません。</span></p>
				</div>
<form name="frm" method="POST" target="_self" action="???SEND???">
<input type="hidden" name="t" value="???TIME???">
<input type="hidden" name="b" value="">
					<div class="table-box">
						<table>
							<tr>
								<th>お名前</th>
								<td>???TAG1???</td>
							</tr>
							<tr>
								<th>お名前(フリガナ)</th>
								<td>???TAG2???</td>
							</tr>
							<tr>
								<th>メールアドレス</th>
								<td>???TAG3???</td>
							</tr>
							<tr>
								<th>電話番号</th>
								<td>???TAG5???</td>
							</tr>
							<tr>
								<th>相談希望日時</th>
								<td class="check_box"><ul class="clearfix">
										<li>???TAG6???</li>
									</ul>
								</td>
							</tr>
							<tr>
								<th>ご相談・ご質問内容</th>
								<td>???TAG7???</td>
							</tr>
						</table>
					</div>
<p class="button">
 <input type="image" id="send_btn" onclick="go_send();return false;" style="cursor:pointer;" value="送信"  src="../info/img/btn_submit.png" onmouseover="this.src='../info/img/btn_submit_on.png'" onmouseout="this.src='../info/img/btn_submit.png'" />　
 <input type="image" id="back_btn" onclick="back();" style="cursor:pointer;" value="修正する"  src="../info/img/btn_back.png" onmouseover="this.src='../info/img/btn_back_on.png'" onmouseout="this.src='../info/img/btn_back.png'" />
</p>
				</form>
			</div>
		</div>
		<!-- / main --> 
		
		<!-- sub -->
		<div id="sub" class="opacity"> </div>
		<!-- / sub --> 
		
	</div>
	<!-- / #cont --> 
	
	<!-- #footer -->
	<div id="footer" class="clearfix"> 
		<!-- fgroup -->
		<div id="fgroup">
			<p class="ptop opacity"><a href="#ptop"><img src="../common/img/ptop.png" width="135" height="27" alt="ページトップへ戻る" /></a></p>
			
			<p class="copyright">(C) Copyright  大阪・吹田の相続・遺言手続トータルサポート大阪 All right reserved. </p>
		</div>
		<!-- / #fgroup --> 
	</div>
	<!-- / #footer --> 
	
</div>
<!-- #wrapper -->
</body>
</html>