<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>お問い合わせ　エラー</title>
<link rel="stylesheet" type="text/css" href="../../common/css/default.css" />
<link rel="stylesheet" type="text/css" href="../../common/css/page.css" />
</head>
<body>
大変申し訳ございません。現在サーバーが大変混雑しております。<br>
しばらくたってから、もう一度やり直してください。<br>
<br>
<a href="???BACK_URL???">TOPへ戻る</a>
</body>

</html>
