# .htaccessが利用できない場合、
# 個別にPHPプログラムまたは、php.iniで設定する必要があります。

php_value magic_quotes_gpc off

php_value default_charset UTF-8
php_value default_mimetype text/html
php_value output_buffering off
php_value output_handler mb_output_handler

php_flag session.use_cookies 1
php_value session.cache_limiter none
php_value session.cache_expire 1

php_value mbstring.language Japanese
php_value mbstring.detect_order UTF-8,EUC-JP,SJIS,ASCII,JIS
php_flag mbstring.encoding_translation Off
php_value mbstring.func_overload 0
php_value mbstring.http_input pass
php_value mbstring.http_output pass
php_value mbstring.internal_encoding UTF-8
php_value mbstring.script_encoding auto
php_value mbstring.substitute_character none

# PHP 5.1.2 - PHP 5.2.8の場合、strict_detection Offを推奨
#php_flag mbstring.strict_detection Off
